* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
}

/* ================= */
/* HEADER SECTION */

.header-section {
  background: url(./images/desktop/image-hero.jpg) no-repeat center center/cover;
  height: 500px;
  width: auto;
  /* background-repeat: no-repeat;
  background-position: center; */
}

/* Nav Bar */
#nav-bar {
  display: flex;
  flex-direction: row;
  padding: 30px 100px;
  justify-content: space-between;
}

#nav-bar img {
  height: 30px;
}

#nav-bar .menu ul {
  display: flex;
  width: 400px;
  /* background-color: aquamarine; */
}

.menu li {
  list-style: none;
}

#nav-bar .menu ul li a {
  padding-right: 30px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  transition: transform 0.25s ease-out;
}

#nav-bar .menu ul li a:hover {
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 10px;
  width: auto;
}

#hamburger {
  display: none;
}

/* headline */

.headline h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  width: 450px;
  margin: 50px 100px;
  padding: 30px;
  font-size: 3rem;
}

/* ================ */
/* CONTENT SECTION */

.content-section {
  display: flex;
  flex-direction: row;
  margin: 80px 100px;
  width: auto;
  /* background-color: red; */
}

/* content section 1 */
.content-section-1 {
  /* background-color: green; */
  width: 100%;
  height: 400px;
}

.content-section-1 img {
  height: 450px;
  object-fit: cover;
}

/* content section 2 */
.content-section-2 {
  margin-top: 130px;
  padding: 50px 80px;
  background-color: white;
  width: 100%;
  height: 400px;
  position: relative;
  margin-left: -130px;
}

.content-section-2 h1 {
  padding-bottom: 30px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 3rem;
  padding-right: 50px;
  color: hsl(0, 0%, 41%);
}

.content-section-2 p {
  line-height: 30px;
  font-size: 16px;
  width: 100%;
  padding-right: 10px;
  color: hsl(0, 0%, 41%);
}

/* ================= */
/* CREATION SECTION */

.creation-section {
  width: 100%;
  /* background-color: red; */
  padding: 0 100px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.our-creation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 70px;
}

.our-creation h2 {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: hsl(0, 0%, 41%);
}

/* See All BTN */
.our-creation button {
  background: none;
  border: 1px solid hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
  text-transform: uppercase;
  padding: 10px;
  width: 120px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1 linear;
}

.our-creation button:hover {
  background-color: black;
  color: white;
}

/* Each Creation */

.each-creation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.each-creation h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
  padding: 320px 90px 10px 30px;
}

/* deep earth */
.deep-earth {
  background-image: url(./images/desktop/image-deep-earth.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
  margin-right: 20px;
}

/* night arcade */

.night-arcade {
  background-image: url(./images/desktop/image-night-arcade.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
  margin-right: 20px;
}

/* Soccer team VR */

.soccer-team {
  background-image: url(./images/desktop/image-soccer-team.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
  margin-right: 20px;
}

/* the grid */

.the-grid {
  background-image: url(./images/desktop/image-grid.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
}

/* from-up */

.from-up {
  background-image: url(./images/desktop/image-from-above.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
  margin-right: 20px;
  margin-top: 20px;
}

/* pocket-borealis */

.pocket-borealis {
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
  margin-right: 20px;
  margin-top: 20px;
}

/*the-curiosity */

.the-curiosity {
  background-image: url(./images/desktop/image-curiosity.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
  margin-right: 20px;
  margin-top: 20px;
}

/* make-it */

.make-it {
  background-image: url(./images/desktop/image-fisheye.jpg);
  height: 400px;
  width: 23.6%;
  background-repeat: no-repeat;
  object-fit: center;
  margin-top: 20px;
}

/* FOOTER SECTION */

.footer-section {
  background-color: black;
  color: hsl(0, 0%, 100%);
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

.footer-menu img {
  width: auto;
  height: 20px;
}

.footer-section .footer-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  padding-top: 10px;
  list-style: none;
}

.footer-menu ul li a {
  text-decoration: none;
  justify-content: space-around;
  color: white;
  padding-right: 15px;
  font-size: 15px;
}

/* social and copyright */

.socials-copyright .socials {
  text-align: right;
  padding-bottom: 10px;
}

.socials img {
  padding-left: 10px;
  cursor: pointer;
  width: auto;
  height: 20px;
  transition: 0.1;
  color: white;
}

.socials img:hover {
  color: hsl(0, 0%, 55%);
  width: auto;
  height: 22px;
}

.socials-copyright p {
  font-size: 13px;
  color: hsl(0, 0%, 55%);
}

/* ===================================== */
/* =====MEDIA QUERY==== */

/* Max-width of 1024px */
@media (max-width: 1024px) {
  /* header section */
  .header-section {
    width: 100%;
    background-position: cover;
    object-fit: center;
  }

  #nav-bar {
    padding: 30px 40px 80px 40px;
    justify-content: space-between;
  }
  #nav-bar img {
    height: 20px;
  }

  .headline h1 {
    margin: 40px;
  }

  /* Content section */
  .content-section {
    width: auto;
    margin: 70px 40px 10px 40px;
  }

  .content-section-1 {
    width: 50%;
    height: 400px;
  }

  .content-section-1 img {
    height: 400px;
  }

  .content-section-2 {
    width: 50%;
    height: 400px;
    padding: 30px;
    margin-left: -10px;
  }

  .content-section-2 h1 {
    font-size: 2rem;
    padding-right: 70px;
    line-height: 30px;
  }

  .content-section-2 p {
    line-height: 25px;
    font-size: 14px;
  }

  /* Creation Section */
  .creation-section {
    width: 100%;
    padding: 0 40px;
  }

  .our-creation {
    width: 100%;
    padding-right: 40px;
  }

  /* Each Section */

  .each-creation {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .soccer-team h2 {
    padding-right: 0;
  }

  .each-creation .the-grid {
    margin: 20px 20px 20px 0;
  }

  .each-creation .from-up h2 {
    padding-right: 0;
  }

  /* FOOTER */
  .footer-section {
    width: 100%;
  }
}

/* Max-width of 768px  */

@media (max-width: 768px) {
  .header-section {
    height: 400px;
  }

  .headline h1 {
    width: 350px;
    font-size: 2.5rem;
    padding: 15px;
  }

  .content-section {
    width: 100%;
  }

  .content-section-1 img {
    height: 300px;
  }

  .content-section-2 {
    padding-right: 30px;
    height: 300px;
    margin-top: 80px;
    margin-left: -40px;
  }

  .content-section-2 h1 {
    font-size: 1.5rem;
    padding-right: 20px;
  }

  .content-section2 p {
    font-size: 13px;
    padding-right: 5px;
  }

  .our-creation {
    padding-bottom: 30px;
  }

  /* each creation */

  .each-creation {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .deep-earth {
    width: 27%;
  }

  .night-arcade {
    width: 27%;
  }

  .soccer-team {
    width: 27%;
  }

  .the-grid {
    width: 27%;
  }

  .from-up {
    width: 27%;
  }

  .pocket-borealis {
    width: 27%;
  }

  .the-curiosity {
    width: 27%;
  }

  .make-it {
    width: 27%;
    padding: 0;
  }

  /* footer */
  .footer-section {
    width: 100%;
    padding: 50px 70px;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
  }

  .socials-copyright .socials {
    text-align: center;
    padding-top: 30px;
  }
}

/* ========================== */
/* Max-width of 650px */

@media only screen and (max-width: 650px) {
  .header-section {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .header-section #nav-bar img {
    gap: 10rem;
    padding-right: 30px;
    justify-content: space-between;
  }
  .headline h1 {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 1.6rem;
  }

  #hamburger {
    display: block;
    margin-left: 200px;
    /* background-color: green; */
  }

  #hamburger img {
    margin-left: 50px;
  }

  .menu {
    width: 100%;
    margin-left: -470px;
  }

  .menu {
    background-color: black;
    text-align: left;
    padding: 30px 40px;
    height: 220px;
    width: 100%;
    margin-top: 40px;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* content section */

  .content-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: red; */
    margin: 0;
    text-align: center;
  }

  .content-section-1 {
    width: 100%;
    margin-top: 100px;
    height: 300px;
  }

  .content-section-2 {
    margin: 0;
    width: 100%;
    justify-content: center;
    background-color: none;
    padding: 20px 80px;
  }

  .content-section h1 {
    padding-top: 20px;
    font-size: 2.5rem;
    line-height: 45px;
  }

  .content-section-2 p {
    padding: 0 40px;
  }

  /* Creation section */
  .creation-section {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .our-creation {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: red;
  }

  .our-creation h2 {
    font-size: 2.5rem;
    align-items: center;
    width: 100%;
  }

  .creation-section .our-creation button {
    flex-direction: column-reverse;
  }

  .each-creation {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: red;
  }

  .each-creation .deep-earth {
    margin: 0;
    background-color: blue;
    object-fit: center;
    background-repeat: no-repeat;
    width: 550px;
    height: 150px;
  }

  /* footer section */
  .footer-section {
    height: 600px;
  }
  .footer-section .footer-menu ul {
    display: flex;
    flex-direction: column;
    line-height: 60px;
    font-size: 3rem;
    font-weight: 500;
  }

  /* attribution */
  .attribution {
    display: none;
  }
}
